!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/classes/io/github/unterstein/TradingClient.class
target/classes/io/github/unterstein/BinanceTrader.class
target/classes/io/github/unterstein/BinanceBotApplication.class
target/classes/application.properties
target/binancebot-0.0.1-SNAPSHOT.jar.original
